bin/
obj/
bin/
.vs/ProjectEvaluation/townofhost.metadata.v5.1
.vs/ProjectEvaluation/townofhost.metadata.v5.1
.vs/TownOfHost/DesignTimeBuild/.dtbcache.v2
*.vsidx
*.v2
.vs/TownOfHost/v17/.suo
.vs/TownOfHost/v17/HierarchyCache.v1.txt
.vs/TownOfHost/v17/.suo
.vs/TownOfHost/v17/.suo
